{% include base_path %}

<div itemscope itemtype="http://schema.org/Person">
  <div class="author__avatar">
    <img src="{{ '/images/profile.png' | prepend: base_path }}" class="author__avatar" alt="Siwon Sung" fetchpriority="high" />
  </div>

  <div class="author__content">
    <h3 class="author__name">Siwon Sung</h3>
    <p class="author__bio">Ph.D. Student in Education at UC Irvine</p>
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">More</button>
    <ul class="author__urls social-icons">
      <li class="author__desktop"><i class="fas fa-fw fa-location-dot icon-pad-right" aria-hidden="true"></i>Irvine, CA</li>
      <li class="author__desktop"><i class="fas fa-fw fa-building-columns icon-pad-right" aria-hidden="true"></i>University of California, Irvine</li>
      <li><a href="mailto:siwons1@uci.edu"><i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>Email</a></li>
      <li><a href="https://github.com/siwonsung"><i class="fab fa-fw fa-github icon-pad-right" aria-hidden="true"></i>GitHub</a></li>
    </ul>
  </div>
</div>
